.arrow {
    position: fixed;
    bottom: 19px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 172, 28, 1);
    & i {
        line-height: 70px;
        font-size: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .arrow {
        bottom: 20px;
    }
}